<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success</title>
  <link rel="stylesheet" href="../static/success.css">
</head>
<body>
  <div class="success-container">
    <div class="success-box">
      <div class="icon">
        <img src="{{ url_for('static', filename='success.jpg') }}" alt="Success Icon" class="success-image">
      </div>
      <h1>Success!</h1>
      <p>Your action was completed successfully. Thank you!</p>
      <a href="{{ url_for('index') }}" class="button" ><button>Back to Home</button></a>
    </div>
  </div>
</body>
</html>
